<!DOCTYPE html>
<html xmlns:qudt="http://qudt.org/schema/qudt#">
<head>
    <meta charset="utf-8"/>
    <title>Ontology - Departement Omgeving - Linked Data</title>
    <link rel="shortcut icon" href="/dist/img/favicon.ico" />
</head>
<body about="">
    <div id="header">
        <div id="logo">
            <a href="/">
                <span>LNE</span>
            </a>
        </div>
    </div>
    <div id="content">
        <ld-view>
            <div class="export-options">
    <a href="">HTML</a>
    <a href="">JSON-LD</a>
    <a href="">TURTLE</a>
    <a href="">N-TRIPLES</a>
    <a href="">XML</a>
</div>

<ld-card>
    <ld-card-title class="dark" id="AfvalProductie">
        Identifier: <a href="https://id.milieuinfo.be/def#AfvalProductie">https://id.milieuinfo.be/def#AfvalProductie</a>
    </ld-card-title>
    <ld-card-content>
        <ld-subject>
            <ld-predicate wide>
                <span class="label">comment</span>
                <ld-object>
                    de afvalproduktie van een bedrijf/organisatie/site in een bepaald jaar
                </ld-object>
            </ld-predicate>
            <ld-predicate wide>
                <span class="label">label</span>
                <ld-object>AfvalProductie</ld-object>
            </ld-predicate>
            <ld-predicate wide>
                <span class="label">usageNote</span>
                <ld-object>TO DO</ld-object>
            </ld-predicate>
            <ld-predicate wide>
                <span class="label">subClassOf</span>
                <ld-object bnode>
                    <ld-predicate about="http://www.w3.org/2002/07/owl#intersectionOf">
                        <a class="label" href="http://www.w3.org/2002/07/owl#intersectionOf">intersectionOf</a>
                        <ld-object></ld-object>
                    </ld-predicate>
                    <ld-predicate about="http://www.w3.org/1999/02/22-rdf-syntax-ns#type">
                        <a class="label" href="http://www.w3.org/1999/02/22-rdf-syntax-ns#type">type</a>
                        <ld-object>
                            <a href="http://www.w3.org/2002/07/owl#Class">http://www.w3.org/2002/07/owl#Class</a>
                        </ld-object>
                    </ld-predicate>
                </ld-object>
            </ld-predicate>
            <ld-predicate wide>
                <span class="label">subClassOf</span>
                <ld-object><a href="http://www.w3.org/ns/prov#Activity">http://www.w3.org/ns/prov#Activity</a></ld-object>
            </ld-predicate>
            <ld-predicate wide>
                <span class="label">type</span>
                <ld-object><a href="http://www.w3.org/2002/07/owl#Class">http://www.w3.org/2002/07/owl#Class</a></ld-object>
            </ld-predicate>
        </ld-subject>
    </ld-card-content>
</ld-card>

<ld-card>
    <ld-card-title class="dark" id="BroeikasgasInstallatie">
        Identifier: <a href="https://id.milieuinfo.be/def#BroeikasgasInstallatie">https://id.milieuinfo.be/def#BroeikasgasInstallatie</a>
    </ld-card-title>
    <ld-card-content>
        <ld-subject>
            <ld-predicate wide>
                <span class="label">comment</span>
                <ld-object>Conform artikel 4 van de richtlijn 2003/87/EG dient elke installatie die onder het
                    toepassingsgebied van emissiehandel valt (zoals vastgelegd in Annex I van diezelfde richtlijn) over
                    een ‘broeikasgasvergunning’ te beschikken. In Vlaanderen werd bij de start van de implementatie van
                    het EU ETS gekozen om deze broeikasgasvergunning te integreren in de milieuvergunning. Elke
                    installatie die een activiteit uitvoert die onder het toepassingsgebied van emissiehandel valt (=
                    een BKG-installatie), dient over een zogenaamde Yk rubriek te beschikken in de milieuvergunning. Dit
                    zijn de rubrieken met de vermelding van de letter Y in de indelingslijst opgenomen in Bijlage I bij
                    Titel I van het Vlarem. Elke Y rubriek komt overeen met een activiteit vermeld in Annex I van
                    richtlijn 2003/87/EG. Hoofdstuk 4.10 van titel II van het Vlarem beschrijft de verplichtingen
                    waaraan BKG-installaties moeten voldoen: Monitoren van emissies volgens een monitoringplan dat het
                    verificatiebureau heeft geverifieerd en ALHRMG heeft goedgekeurd (art. 4.10.1.4) Rapporteren bij
                    ALHRMG van emissies voorgaande jaar via geverifieerd emissiejaarrapport tegen uiterlijk 14 maart van
                    ieder jaar (art. 4.10.1.5) Schrappen van Y rubriek indien niet langer relevant (art. 4.10.1.6)
                    Inleveren van emissierechten via rekening in register (art. 4.10.1.2) Daarnaast moet een
                    BKG-installatie ook beschikken over alle relevante Y rubrieken die opgenomen zijn in de
                    indelingslijst uit Bijlage I bij Titel I van het Vlarem.
                </ld-object>
            </ld-predicate>
            <ld-predicate wide>
                <span class="label">label</span>
                <ld-object>BKG-installatie</ld-object>
            </ld-predicate>
            <ld-predicate wide>
                <span class="label">usageNote</span>
                <ld-object>TO DO</ld-object>
            </ld-predicate>
            <ld-predicate wide>
                <span class="label">subClassOf</span>
                <ld-object bnode>
                    <ld-predicate about="http://www.w3.org/2002/07/owl#onProperty">
                        <a class="label" href="http://www.w3.org/2002/07/owl#onProperty">onProperty</a>
                        <ld-object><a href="http://purl.org/dc/terms/rights">http://purl.org/dc/terms/rights</a></ld-object>
                    </ld-predicate>
                    <ld-predicate about="http://www.w3.org/2002/07/owl#someValuesFrom">
                        <a class="label" href="http://www.w3.org/2002/07/owl#someValuesFrom">someValuesFrom</a>
                        <ld-object>
                            <a href="http://purl.org/dc/terms/RightsStatement">http://purl.org/dc/terms/RightsStatement</a>
                        </ld-object>
                    </ld-predicate>
                    <ld-predicate about="http://www.w3.org/1999/02/22-rdf-syntax-ns#type">
                        <a class="label" href="http://www.w3.org/1999/02/22-rdf-syntax-ns#type">type</a>
                        <ld-object>
                            <a href="http://www.w3.org/2002/07/owl#Restriction">http://www.w3.org/2002/07/owl#Restriction</a>
                        </ld-object>
                    </ld-predicate>
                </ld-object>
            </ld-predicate>
            <ld-predicate wide>
                <span class="label">subClassOf</span>
                <ld-object><a href="http://www.w3.org/ns/prov#Activity">http://www.w3.org/ns/prov#Activity</a></ld-object>
            </ld-predicate>
            <ld-predicate wide>
                <span class="label">type</span>
                <ld-object><a href="http://www.w3.org/2002/07/owl#Class">http://www.w3.org/2002/07/owl#Class</a></ld-object>
            </ld-predicate>
        </ld-subject>
    </ld-card-content>
</ld-card>

...
        </ld-view>
    </div>
    <div id="footer">
       <div>
          <div class="logo">
             <span class="title">Vlaanderen</span>
             <span class="claim">verbeelding werkt</span>
          </div>
          <div class="site-info">
             <h3>Dit is een officiële website van de Vlaamse overheid</h3>
             <span>uitgegeven door het <a href="https://www.lne.be/">Departement Omgeving</a></span>
          </div>
       </div>
    </div>
    <script>
        (function () {
            // define base URL (e.g. '/')
            const baseUrl = '/';
    
            // hide body until styles are loaded
            document.querySelector('body').style.opacity = 0;
    
            // load babel polyfill if needed
            if (!window.Promise || !window.Symbol) {
                let polyfillScript = document.createElement('script');
                polyfillScript.src = baseUrl + 'dist/babel-polyfill.js';
                document.head.appendChild(polyfillScript);
            }
    
            // activate components in #content
            let bundleScript = document.createElement('script');
            bundleScript.src = baseUrl + 'dist/index.js';
            document.head.appendChild(bundleScript);
        })();
    </script>
</body>
</html>
