
<h1>Departement Omgeving - Linked Data</h1>

<flex-container>
    <flex-item dsk="66" mob="100">
        <ld-card>
            <ld-card-title class="dark" img="/dist/img/hero.png">
                <h2>Welkom!</h2>
                <h3>This is a card with a title image</h3>
            </ld-card-title>
            <ld-card-content>
                <p class="intro">
                    This is an introduction paragraph.<br/>
                    It gets printed in a larger font.
                </p>
            </ld-card-content>
        </ld-card>

        <flex-container align="stretch">
            <flex-item dsk="33" tab="100">
                <ld-card>
                    <ld-card-content>
                        <p>
                            This is a flex item. It is 33% wide on desktops, and 100% on tablets and mobiles.
                        </p>
                        <p>
                            <small>
                                Available widths (in %): 25, 33, 50, 66, 75, 100
                            </small>
                        </p>
                    </ld-card-content>
                </ld-card>
            </flex-item>
            <flex-item dsk="33" tab="50" mob="100">
                <ld-card>
                    <ld-card-content>
                        <p>
                            This is a flex item. It is 33% wide on desktops, 50% on tablets, and 100% on mobiles.
                        </p>
                    </ld-card-content>
                </ld-card>
            </flex-item>
            <flex-item dsk="33" tab="50" mob="100">
                <ld-card>
                    <ld-card-content>
                        <p>
                            This is a flex item. It is 33% wide on desktops, 50% on tablets, and 100% on mobiles.
                        </p>
                    </ld-card-content>
                </ld-card>
            </flex-item>
        </flex-container>

        <ld-card>
            <ld-card-title class="dark">
                This is a dark card title
            </ld-card-title>
            <ld-card-content>
                <h2>Heading Level 2</h2>
                <p>A text paragraph</p>
                <h3>Heading Level 3</h3>
                <p>Another text paragraph</p>
                <ul>
                    <li>List item 1</li>
                    <li>List item 2</li>
                    <li>List item 3</li>
                </ul>
            </ld-card-content>
        </ld-card>

        <ld-card class="dark">
            <ld-card-content>
                <p>This is a dark card with no title.</p>
            </ld-card-content>
        </ld-card>
    </flex-item>

    <flex-item dsk="33" mob="100">
        <ld-card>
            <ld-card-title>
                Gepubliceerde applikaties
            </ld-card-title>
            <ld-card-content>
                <ul>
                    <li><a href="/zendantennes/home">Zendantennes</a></li>
                </ul>
            </ld-card-content>
        </ld-card>

        <ld-card>
            <ld-card-title>
                Beschikbare datasets
            </ld-card-title>
            <ld-card-content>
                <ul>
                    <li><a href="/id/dataset/zendantennes">Zendantennes</a></li>
                    <li><a href="/id/dataset/ontology/antenne">Antenne ontology</a></li>
                    <li><a href="https://data.zendantennes.omgeving.vlaanderen.be/id/conceptscheme/antenne_dossier_type" target="_ext">Antenne dossiertype controlled vocabulary</a></li>
                </ul>
            </ld-card-content>
        </ld-card>

        <ld-card>
            <ld-card-title>
                Gebruikte ontologieën
            </ld-card-title>
            <ld-card-content>
                <ul>
                    <li><a href="https://data.omgeving.vlaanderen.be/ns/dossier" target="_ext">Dossier</a></li>
                    <li><a href="https://data.omgeving.vlaanderen.be/ns/waarde" target="_ext">Waarde</a></li>
                    <li><a href="https://data.zendantennes.omgeving.vlaanderen.be/ns/antenne" target="_ext">Zendantennes</a></li>
                </ul>
            </ld-card-content>
        </ld-card>

        <ld-card>
            <ld-card-title>
                Gebruikte gecontroleerde lijstjes
            </ld-card-title>
            <ld-card-content>
                <ul>
                    <li><a href="https://data.zendantennes.omgeving.vlaanderen.be/id/conceptscheme/antenne_dossier_type" target="_ext">Antenne dossiertype</a></li>
                </ul>
            </ld-card-content>
        </ld-card>

        <ld-card>
            <ld-card-title class="dark">
                A card with an image
            </ld-card-title>
            <img src="/dist/img/hero-light.png" />
            <ld-card-content>
                Card content
            </ld-card-content>
        </ld-card>
    </flex-item>
</flex-container>
