<h1>SPARQL zoekopdracht resultaten</h1>
<ld-card>
    <table>
        <thead>
        <tr>
            <th colspan="1" rowspan="1">subject</th>
            <th colspan="1" rowspan="1">label</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="1" rowspan="1">
                <a href="http://id.milieuinfo.be:80/imjv/emissiepunt/01799855000184/4990#id">https://id.milieuinfo.be/imjv/emissiepunt/01799855000184/4990#id</a>
            </td>
            <td colspan="1" rowspan="1">COTAC BELGIUM : SCHOORSTEEN STOOMKETEL BABCOCK WANSON</td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">
                <a href="http://id.milieuinfo.be:80/imjv/emissiepunt/01799855000184/4991#id">https://id.milieuinfo.be/imjv/emissiepunt/01799855000184/4991#id</a>
            </td>
            <td colspan="1" rowspan="1">COTAC BELGIUM : TANKREINIGINGSINSTALLATIE</td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">
                <a href="http://id.milieuinfo.be:80/imjv/emissiepunt/01799855000184/4989#id">https://id.milieuinfo.be/imjv/emissiepunt/01799855000184/4989#id</a>
            </td>
            <td colspan="1" rowspan="1">COTAC BELGIUM : SCHOORSTEEN CHAUFFAGEKETEL VIESSMANN</td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">
                <a href="http://id.milieuinfo.be:80/imjv/emissiepunt/01856771000272/10494#id">https://id.milieuinfo.be/imjv/emissiepunt/01856771000272/10494#id</a>
            </td>
            <td colspan="1" rowspan="1">BIOSTOOM OOSTENDE : ROOSTEROVEN</td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">
                <a href="http://id.milieuinfo.be:80/imjv/emissiepunt/01799855000184/4988#id">https://id.milieuinfo.be/imjv/emissiepunt/01799855000184/4988#id</a>
            </td>
            <td colspan="1" rowspan="1">COTAC BELGIUM : SCHOORSTEEN STOOMGENERATOR CLAYTON</td>
        </tr>
        </tbody>
    </table>
</ld-card>
