<div class="export-options">
    <a href="">HTML</a>
    <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625.jsonld">JSON-LD</a>
    <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625.ttl">TURTLE</a>
    <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625.nt">N-TRIPLES</a>
    <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625.rdf">XML</a>
</div>

<h1>Integraal Milieu Jaarverslag - Dossier - 2011 - EXXONMOBIL CHEMICAL BELGIUM - 01749024006625</h1>

<flex-container>
    <flex-item dsk="50">
        <h2>Map via Lambert72</h2>
        <ld-map :x="147308.80" :y="214146.48"></ld-map>
    </flex-item>
    <flex-item dsk="50">
        <h2>Map via WGS84</h2>
        <ld-map :lon="4.334494384291889" :lat="51.242633731918474"></ld-map>
    </flex-item>
</flex-container>

<ld-subject>
    <ld-predicate about="https://id.milieuinfo.be/def#lambert72_x">
        <a class="label" href="https://id-ontwikkel.milieuinfo.be/def#lambert72_x">XCoordinaat</a>
        <ld-object>147308.80</ld-object>
    </ld-predicate>
    <ld-predicate about="https://id.milieuinfo.be/def#lambert72_y">
        <a class="label" href="https://id-ontwikkel.milieuinfo.be/def#lambert72_y">YCoordinaat</a>
        <ld-object>214146.48</ld-object>
    </ld-predicate>
</ld-subject>

<hr/>

<ld-subject>
    <ld-predicate about="http://purl.org/dc/terms/identifier">
        <a class="label" href="http://purl.org/dc/terms/identifier">identifier</a>
        <ld-object>2011_01749024006625</ld-object>
    </ld-predicate>
    <ld-predicate about="http://purl.org/dc/terms/title">
        <a class="label" href="http://purl.org/dc/terms/title">title</a>
        <ld-object>Integraal Milieu Jaarverslag - Dossier - 2011 - EXXONMOBIL CHEMICAL BELGIUM - 01749024006625</ld-object>
    </ld-predicate>
    <ld-predicate about="http://www.w3.org/1999/02/22-rdf-syntax-ns#type">
        <a class="label" href="http://www.w3.org/1999/02/22-rdf-syntax-ns#type">type</a>
        <ld-object><a href="http://dbpedia.org/ontology/Case">http://dbpedia.org/ontology/Case</a></ld-object>
        <ld-object><a href="http://dbpedia.org/ontology/Case">http://dbpedia.org/ontology/Case (b)</a></ld-object>
    </ld-predicate>
</ld-subject>

<hr/>

<ld-subject>
    <ld-predicate about="http://purl.org/dc/terms/alternative">
        <a class="label" href="https://id-ontwikkel.milieuinfo.be/def#lambert72_y">alternative</a>
        <ld-object>IMJV</ld-object>
    </ld-predicate>
    <ld-predicate about="http://purl.org/dc/elements/1.1/creator">
        <a class="label" href="http://purl.org/dc/elements/1.1/creator">creator</a>
        <ld-object>EXXONMOBIL PETROLEUM &amp; CHEMICAL</ld-object>
    </ld-predicate>
    <ld-predicate about="http://purl.org/dc/terms/modified">
        <a class="label" href="http://purl.org/dc/terms/modified">modified</a>
        <ld-object>2018-04-07T23:37:33.851</ld-object>
    </ld-predicate>
    <ld-predicate about="http://purl.org/dc/elements/1.1/publisher">
        <a class="label" href="http://purl.org/dc/elements/1.1/publisher">publisher</a>
        <ld-object>Ministerie van de Vlaamse Gemeenschap</ld-object>
    </ld-predicate>
    <ld-predicate about="http://purl.org/dc/elements/1.1/source">
        <a class="label" href="http://purl.org/dc/elements/1.1/source">source</a>
        <ld-object>Integraal Milieu Jaarverslag</ld-object>
    </ld-predicate>
    <ld-predicate about="http://schema.org/temporalCoverage">
        <a class="label" href="http://schema.org/temporalCoverage">temporalCoverage</a>
        <ld-object>2011</ld-object>
    </ld-predicate>
</ld-subject>

<hr/>

<ld-subject>
    <ld-predicate about="http://schema.org/about">
        <a class="label" href="http://schema.org/about">about</a>
        <ld-object>
            <a href="https://id.milieuinfo.be/cbb/exploitatie/01749024006625#id">EXXONMOBIL PETROLEUM &amp; CHEMICAL BVBA - ANTWERP POLYMERS PLANT</a>
        </ld-object>
    </ld-predicate>
    <ld-predicate about="http://purl.org/dc/terms/coverage">
        <a class="label" href="http://purl.org/dc/terms/coverage">coverage</a>
        <ld-object>
            <a href="https://id.milieuinfo.be/imjv/exploitatie/01749024006625/jaar/2011#id">exploitatie
                    - 01749024006625 - exploitatie naam - EXXONMOBIL CHEMICAL BELGIUM - rapporteringsjaar
                    - 2011
            </a>
        </ld-object>
    </ld-predicate>
    <ld-predicate about="http://www.w3.org/ns/prov#hadPrimarySource">
        <a class="label" href="http://www.w3.org/ns/prov#hadPrimarySource">hadPrimarySource</a>
        <ld-object>
            <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625/distributie#id">dossier/2011_01749024006625/distributie</a>
        </ld-object>
    </ld-predicate>
    <ld-predicate about="http://purl.org/dc/terms/publisher">
        <a class="label" href="http://purl.org/dc/terms/publisher">publisher</a>
        <ld-object>
            <a href="http://data.kbodata.be/organisation/0316_380_841#id">http://data.kbodata.be/organisation/0316_380_841#id</a>
        </ld-object>
    </ld-predicate>
    <ld-predicate about="http://purl.org/dc/terms/subject" endpoint="http://imjv-fuseki-on-1.vm.cumuli.be:3030/imjv/query">
        <a class="label" href="http://purl.org/dc/terms/subject">subject</a>
    </ld-predicate>
    <ld-predicate about="">
        <a class="label">has BNode</a>
        <ld-object bnode>
            <ld-predicate about="http://www.w3.org/1999/02/22-rdf-syntax-ns#first">
                <a class="label" href="http://www.w3.org/1999/02/22-rdf-syntax-ns#first">first</a>
                <ld-object>
                    <a href="https://id.milieuinfo.be/def#GeleideLozing">GeleideLozing</a>
                </ld-object>
            </ld-predicate>
            <ld-predicate about="http://www.w3.org/1999/02/22-rdf-syntax-ns#rest">
                <a class="label" href="http://www.w3.org/1999/02/22-rdf-syntax-ns#rest">rest</a>
                <ld-object>
                    <a href="http://www.w3.org/1999/02/22-rdf-syntax-ns#nil">http://www.w3.org/1999/02/22-rdf-syntax-ns#nil</a>
                </ld-object>
            </ld-predicate>
        </ld-object>
    </ld-predicate>
</ld-subject>

<hr/>

<h2>Taxonomy examples</h2>

<ld-card>
    <ld-card-content>
        The following (outbound) SKOS predicates will be enhanced with taxonomy views:
        <ul>
            <li>hasTopConcept</li>
            <li>topConceptOf</li>
            <li>inScheme</li>
            <li>broader</li>
            <li>narrower</li>
        </ul>
    </ld-card-content>
</ld-card>

<ld-collapsible title="Archiefconcepten (concept scheme)" collapsed>
    <ld-subject about="https://data.imjv.omgeving.vlaanderen.be/id/conceptscheme/archief">
        <ld-predicate about="http://www.w3.org/2004/02/skos/core#hasTopConcept" endpoint="http://imjv-fuseki-on-1.vm.cumuli.be:3030/imjv/query">
           <a class="label" href="http://www.w3.org/2004/02/skos/core#hasTopConcept">hasTopConcept</a>
           <ld-object>...</ld-object>
        </ld-predicate>
    </ld-subject>
</ld-collapsible>

<ld-collapsible title="Dossier (top concept)" collapsed>
    <ld-subject about="https://data.imjv.omgeving.vlaanderen.be/id/concept/dossier">
        <ld-predicate about="http://www.w3.org/2004/02/skos/core#inScheme" endpoint="http://imjv-fuseki-on-1.vm.cumuli.be:3030/imjv/query">
           <a class="label" href="http://www.w3.org/2004/02/skos/core#inScheme">inScheme</a>
           <ld-object>...</ld-object>
        </ld-predicate>

        <ld-predicate about="http://www.w3.org/2004/02/skos/core#topConceptOf" endpoint="http://imjv-fuseki-on-1.vm.cumuli.be:3030/imjv/query">
           <a class="label" href="http://www.w3.org/2004/02/skos/core#topConceptOf">topConceptOf</a>
           <ld-object>...</ld-object>
        </ld-predicate>

        <ld-predicate about="http://www.w3.org/2004/02/skos/core#narrower" endpoint="http://imjv-fuseki-on-1.vm.cumuli.be:3030/imjv/query">
           <a class="label" href="http://www.w3.org/2004/02/skos/core#narrower">narrower</a>
           <ld-object>...</ld-object>
        </ld-predicate>
    </ld-subject>
</ld-collapsible>

<ld-collapsible title="Aangifte energie (concept)" collapsed>
    <ld-subject about="https://data.imjv.omgeving.vlaanderen.be/id/concept/aangifte_energie">
        <ld-predicate about="http://www.w3.org/2004/02/skos/core#inScheme" endpoint="http://imjv-fuseki-on-1.vm.cumuli.be:3030/imjv/query">
           <a class="label" href="http://www.w3.org/2004/02/skos/core#inScheme">inScheme</a>
           <ld-object>...</ld-object>
        </ld-predicate>

        <ld-predicate about="http://www.w3.org/2004/02/skos/core#broader" endpoint="http://imjv-fuseki-on-1.vm.cumuli.be:3030/imjv/query">
           <a class="label" href="http://www.w3.org/2004/02/skos/core#broader">broader</a>
           <ld-object>...</ld-object>
        </ld-predicate>

        <ld-predicate about="http://www.w3.org/2004/02/skos/core#narrower" endpoint="http://imjv-fuseki-on-1.vm.cumuli.be:3030/imjv/query">
           <a class="label" href="http://www.w3.org/2004/02/skos/core#narrower">narrower</a>
           <ld-object>...</ld-object>
        </ld-predicate>
    </ld-subject>
</ld-collapsible>

<ld-collapsible title="Bijlage energie (bottom concept)" collapsed>
    <ld-subject about="https://data.imjv.omgeving.vlaanderen.be/id/concept/bijlage_energie">
        <ld-predicate about="http://www.w3.org/2004/02/skos/core#inScheme" endpoint="http://imjv-fuseki-on-1.vm.cumuli.be:3030/imjv/query">
           <a class="label" href="http://www.w3.org/2004/02/skos/core#inScheme">inScheme</a>
           <ld-object>...</ld-object>
        </ld-predicate>

        <ld-predicate about="http://www.w3.org/2004/02/skos/core#broader" endpoint="http://imjv-fuseki-on-1.vm.cumuli.be:3030/imjv/query">
           <a class="label" href="http://www.w3.org/2004/02/skos/core#broader">broader</a>
           <ld-object>...</ld-object>
        </ld-predicate>
    </ld-subject>
</ld-collapsible>

<hr/>

<ld-collapsible title="Inkomende relaties">
    <ld-subject about="https://data.imjv.omgeving.vlaanderen.be/id/emissiepunt/01749024006625/6808">
        <ld-predicate inbound about="http://purl.org/vocab/lifecycle/schema#stateOf" endpoint="http://imjv-fuseki-on-1.vm.cumuli.be:3030/imjv/query">
           <a class="label" href="http://purl.org/vocab/lifecycle/schema#stateOf">stateOf</a>
           <ld-object>...</ld-object>
        </ld-predicate>

        <ld-predicate inbound about="https://data.imjv.omgeving.vlaanderen.be/ns/imjv#referentiegebied" endpoint="http://imjv-fuseki-on-1.vm.cumuli.be:3030/imjv/query">
            <a class="label" href="https://id-ontwikkel.milieuinfo.be/def#referentiegebied">referentiegebied</a>
            <ld-object>...</ld-object>
        </ld-predicate>
    </ld-subject>
</ld-collapsible>

<ld-collapsible title="Linken naar de beschrijvende documenten" collapsed>
    <ld-subject>
        <ld-predicate about="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">
            <a class="label" href="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">isDefinedBy</a>
            <ld-object>
                    <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625">Via content negotiation</a>
            </ld-object>
            <ld-object>
                    <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625.jsonld">dossier/2011_01749024006625.jsonld</a>
            </ld-object>
            <ld-object>
                <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625.nt">dossier/2011_01749024006625.nt</a>
            </ld-object>
            <ld-object>
                <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625.rdf">dossier/2011_01749024006625.rdf</a>
            </ld-object>
            <ld-object>
                <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625.ttl">dossier/2011_01749024006625.ttl</a>
            </ld-object>
        </ld-predicate>
        <ld-predicate about="http://xmlns.com/foaf/0.1/page">
            <a class="label" href="http://xmlns.com/foaf/0.1/page">page</a>
            <ld-object>
                <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625.html">dossier/2011_01749024006625.html</a>
            </ld-object>
        </ld-predicate>
    </ld-subject>
</ld-collapsible>

<ld-collapsible title="Document eigenschappen" collapsed>
    <ld-subject>
        <ld-predicate about="http://purl.org/pav/createdWith">
            <a class="label" href="http://purl.org/pav/createdWith">createdWith</a>
            <ld-object>
                <a href="http://dbpedia.org/resource/NetKernel">http://dbpedia.org/resource/NetKernel</a>
            </ld-object>
        </ld-predicate>
        <ld-predicate about="http://rdfs.org/ns/void#inDataset">
            <a class="label" href="http://rdfs.org/ns/void#inDataset">inDataset</a>
            <ld-object>
                <a href="https://id.milieuinfo.be/dataset/imjv#id">dataset/imjv</a>
            </ld-object>
        </ld-predicate>
        <ld-predicate about="http://xmlns.com/foaf/0.1/primaryTopic">
            <a class="label" href="http://xmlns.com/foaf/0.1/primaryTopic">primaryTopic</a>
            <ld-object>
                <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625#id">dossier/2011_01749024006625</a>
            </ld-object>
        </ld-predicate>
    </ld-subject>
</ld-collapsible>
