// fonts
$font-header: "Flanders Art Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$font-header-light: "Flanders Art Sans Light", "Lucida Sans Unicode", "Lucida Grande", sans-serif;

$font-heading: "Flanders Art Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$font-heading-light: "Flanders Art Sans Light", "Lucida Sans Unicode", "Lucida Grande", sans-serif;

$font-footer-logo: "Flanders Art Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;

$font-text: "Lato", "Lucida Sans Unicode", "Lucida Grande",sans-serif;
$font-text-light: "Lato Light", "Lucida Sans Unicode", "Lucida Grande",sans-serif;
$font-text-hairline: "Lato Hairline", "Lucida Sans Unicode", "Lucida Grande",sans-serif;

// palette


// https://overheid.vlaanderen.be/huisstijl-en-merkbeleid/niveau-2/kleurgebruik
// Niveau 1 - corporate kleurenpalet
$yellow-vl: #FFE615;
//$yellow-dark: #FFED00;
$yellow: $yellow-vl;//#F0D70F;


$grey-extra-dark: #443939;
$grey-dark: #6B6B6B;
$grey: #989898;
$grey-light: #E5E5E5;
$grey-extra-light: #EDEDED;

$white: #FFFFFF;
$blue: #0050c0;
// colors

$body-bg-color: $grey-extra-light;
$text-color: $grey-dark;
$link-color: $blue;

$header-color: $grey-extra-dark;
$header-link-color: $grey-extra-dark;
$header-bg-color: $white;

$footer-bg-color: $white;
$footer-color: $grey-extra-dark;
$footer-claim-color: $grey-extra-dark;
$footer-department-link-color: $link-color;

$heading-color: $grey-dark;
$heading-color-dark: $grey-extra-dark;

$label-bg-color: $yellow;
$label-color: $white;

$border-color-light: $grey-light;
$border-color-dark: $grey;
$border-color-yellow: $yellow;

$card-color: $text-color;
$card-bg-color: $white;
$card-bg-color-dark: $yellow;

$card-title-color: $text-color;
$card-title-bg-color: $white;
$card-title-color-dark: $grey-dark;
$card-title-bg-color-dark: $yellow;

$object-border-color: $grey;

$predicate-bg-color: $white;
$predicate-border-color: $yellow;
$predicate-color: $text-color;
$predicate-button-icon-color: $white;

$table-heading-color: $grey-extra-dark;
$table-cell-color: $grey-dark;
$table-zebra-bg-color: $grey-extra-light;
$table-bg-color: $white;
$table-th-color: $grey-extra-dark;
$table-tr-bg-color: $grey-extra-light;
$table-td-color: $grey-extra-dark;
$table-th-border-color: $yellow;
$table-td-border-color: $grey-light;

$button-bg-color: $blue;
$button-color: $text-color;
$button-bg-color-disabled: $grey-light;
$button-bg-color-hover: $grey-dark;

$map-button-color: $yellow;
$map-border-color: $yellow;
$map-line-color: $grey-dark;

$accordion-border-color: $grey;
$accordion-active-border-color: $yellow;


// flex

$flex-gutter-width: 8px;
$flex-gutter-height: 16px;
$flex-tablet-max-width: 1023px;
$flex-mobile-max-width: 599px;

// mixins

@mixin layout() {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  @media (max-width: 1040px) {
    width: 96%;
  }
}

@mixin box-shadow($blur: 8px) {
  box-shadow: 0 0 $blur rgba(0, 0, 0, 0.1);
}
