
.export-options {
    margin-bottom: 10px;
    text-align: right;
    font-size: 14px;
    font-family: $font-heading;

    a {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;
        border: none;
        outline: none;

        &:first-child {
            font-weight: bold;
            color: $text-color !important;
        }
    }
}
