table {
    width: 100%;
    max-width: 100%;
    font-size: 16px;
    background-color: $table-bg-color;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 16px 0;
    position: relative;
    overflow: auto;

    thead {
        vertical-align: middle;

        th {
            vertical-align: bottom;
            margin: 0;
            text-align: left;
            padding: 0 16px;
            font-family: "Flanders Art Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: $table-th-color;
            font-size: 16px;
            line-height: 40px;
        }
    }

    tbody {

        tr {
            &:nth-child(even) td {
                background-color: $table-tr-bg-color;
            }

            td {
                text-align: left;
                padding: 8px 16px;
                border-top: 1px solid #ddd;
                background-color: $table-bg-color;
                line-height: 20px;
                vertical-align: top;
                color: $table-td-color;
            }
        }
    }
}
